<!DOCTYPE html>
<html lang="en">

<head>
	<title>S-Rank Customized Rankings</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
	<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"> -->
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.css') }}">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scss/_datatables.scss') }}"> -->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
	<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}"> -->
	<!-- ===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<!--=============================================================================================== -->

	<!-- load up d3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

</head>

<body id="page-top">

	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Return Home
				</a>
			</div>
		</div>
	</nav>


	<!-- main bootstrap body container -->
	<div class="container">
		<div class="row">

			<!-- bootstrap column for the factor form on the left -->
			<div class="col-lg-3">

				<!-- Select your Factors Form -->
				<div class="container-contact100"  id="input-container">
					<div class="wrap-contact100">
						<div class="span2">
							<div class="float">
								<form method="POST" class="contact100-form validate-form">

									<!-- Add in a week drop down at the top -->
									<div class="wrap-input100 input100-select">
										<!-- <span class="label-input100">Week</span> -->
										<div>
											<select class="selection-2" name="Week">
												<!-- dynamically create drop down options, where the originally selected option is the default or matches user form input -->
												{% for week in ['3', '2', '1'] %} 
													<!-- if the week matches the form data put by the user (or the default) then set that dropdown to selected so is visible -->
													{% if week == formData.Week %}
														<option value={{week}} selected>Week {{week}}</option>
													<!-- else create the drop down option, but do not have it selected -->
													{% else %}
														<option value={{week}}>Week {{week}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
										<span class="focus-input100"></span>
									</div>

									<span class="contact100-form-title">
										Select Your
										<br>S-Rank&reg; Projection Factors
										<p class="directions">Decide on your customized projections weighting based on your confidence in each of the five fantasy projections
											sources. Enter a value of 0-100% to create your weighted average, making sure your total adds up to 100%. The
											default is an equal weighting of 20% for each projection source.</p>
									</span>

									<div class="wrap-input100 validate-input" data-validate="Percent is required">
										<span class="label-input100">ESPN PPR Projections</span>
										<input class="input100" type="number" name="ESPN" placeholder="Enter Weight (0 to 100)" value={{formData.ESPN}}>
										<span class="focus-input100"></span>
									</div>

									<div class="wrap-input100 validate-input" data-validate="Percent is required">
										<span class="label-input100">CBS PPR Projections</span>
										<input class="input100" type="number" name="CBS" placeholder="Enter Weight (0 to 100)" value={{formData.CBS}}>
										<span class="focus-input100"></span>
									</div>

									<div class="wrap-input100 validate-input" data-validate="Percent is required">
										<span class="label-input100">Fantasy Sharks PPR Projections</span>
										<input class="input100" type="number" name="Sharks" placeholder="Enter Weight (0 to 100)" value={{formData.Sharks}}>
										<span class="focus-input100"></span>
									</div>

									<div class="wrap-input100 validate-input" data-validate="Percent is required">
										<span class="label-input100">Scout Fantasy PPR Projections</span>
										<input class="input100" type="number" name="Scout" placeholder="Enter Weight (0 to 100)" value={{formData.Scout}}>
										<span class="focus-input100"></span>
									</div>

									<div class="wrap-input100 validate-input" data-validate="Percent is required">
										<span class="label-input100">Prior Week PPR Actual Points</span>
										<input class="input100" type="number" name="Prior" placeholder="Enter Weight (0 to 100)" value={{formData.Prior}}>
										<span class="focus-input100"></span>
									</div>

									<span class="contact100-form-title">
										<br>Select Your
										<br>S-Rank&reg; Boost Factors
										<p class="directions">Decide how much of our proprietary Boost Factor&trade; algorithms to apply to your projections.</p>
									</span>

									<div class="wrap-input100 input100-select">
										<span class="label-input100">Boost Factor&trade; : Opposing Defense</span>
										<div>
											<select class="selection-2" name="Defense">
												<!-- dynamically create drop down options, where the originally selected option is the default or matches user form input -->
												{% for boost in ['Full', 'Partial', 'None'] %} 
													<!-- if the boost amount matches the form data put by the user (or the default) then set that dropdown to selected so is visible -->
													{% if boost == formData.Defense %}
														<option selected>{{boost}}</option>
													<!-- else create the drop down option, but do not have it selected -->
													{% else %}
														<option>{{boost}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
										<span class="focus-input100"></span>
									</div>

									<div class="wrap-input100 input100-select">
										<span class="label-input100">Boost Factor&trade;: Over/Under Line</span>
										<div>
											<select class="selection-2" name="OverUnder">
												<!-- dynamically create drop down options, where the originally selected option is the default or matches user form input -->
												{% for boost in ['Full', 'Partial', 'None'] %} 
													<!-- if the boost amount matches the form data put by the user (or the default) then set that dropdown to selected so is visible -->
													{% if boost == formData.OverUnder %}
														<option selected>{{boost}}</option>
													<!-- else create the drop down option, but do not have it selected -->
													{% else %}
														<option>{{boost}}</option>
													{% endif %}
												{% endfor %}
												<!-- <option>Full</option>
												<option>Partial</option>
												<option>None</option> -->
											</select>
										</div>
										<span class="focus-input100"></span>
									</div>

									<div class="wrap-input100 input100-select">
										<span class="label-input100">Boost Factor&trade;: Twitter Sentiment</span>
										<div>
											<select class="selection-2" name="Twitter">
												<!-- dynamically create drop down options, where the originally selected option is the default or matches user form input -->
												{% for boost in ['Full', 'Partial', 'None'] %} 
													<!-- if the boost amount matches the form data put by the user (or the default) then set that dropdown to selected so is visible -->
													{% if boost == formData.Twitter %}
														<option selected>{{boost}}</option>
													<!-- else create the drop down option, but do not have it selected -->
													{% else %}
														<option>{{boost}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
										<span class="focus-input100"></span>
									</div>

									<!-- <div class="wrap-input100 input100-select">
							<span class="label-input100">Boost Factor: Injury Status</span>
							<div>
								<select class="selection-2" name="Injury">
									<option>Yes</option>
									<option>No</option>
								</select>
							</div>
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 input100-select">
							<span class="label-input100">Boost Factor: Weather</span>
							<div>
								<select class="selection-2" name="Weather">
									<option>Yes</option>
									<option>No</option>
								</select>
							</div>
							<span class="focus-input100"></span>
						</div> -->

									<div class="wrap-input100 validate-input" data-validate="Message is required">
										<span class="label-input100">Notes</span>
										<textarea class="input100" name="message" placeholder="Your notes here..."></textarea>
										<span class="focus-input100"></span>
									</div>

									<div class="container-contact100-form-btn">
										<div class="wrap-contact100-form-btn">
											<div class="contact100-form-bgbtn"></div>
											<button class="contact100-form-btn" onclick="getJsonData()">
												<span>
													Submit
													<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
												</span>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!--end of col-md-4 div for input area-->


			<!-- bootstrap column for the player table output on the right -->
			<div class="col-lg-9">
				<!-- Customized Player Outputs -->
				<div class="container-contact100">
					<div class="wrap-contact100">
						<div class="span2">
							<div class="float">
								<!--all data needs to go within this div-->
								<span class="contact100-form-title">Customized Player Rankings
								</span>

								<!-- add some custom css styling for table to get scrolling, etc. to work -->
								<style> 
								.dtHorizontalVerticalExampleWrapper {
									/* max-width: 600px; */
									margin: 0 auto;
								}
								#dtHorizontalVerticalExample th, td {
									white-space: nowrap;
								}

								.table-head {
									max-width:125px;
									font-weight: bold;
									/* word-break: break-all; */
									word-wrap:break-word;
								}

								</style>



								<table id="dtHorizontalVerticalExample" class="table table-striped dtHorizontalVerticalExampleWrapper">
									<thead>
										<tr>
											<th class="table-head">Player</th>
											<th class="table-head">Position</th>
											<th class="table-head">Team</th>
											<th class="table-head">S-Rank Custom Projection</th>
											<th class="table-head">Details >></th> <!-- blank column as separator from key info and added data-->
											<th class="table-head">User Weighted Projection</th>
											<th class="table-head">User Opposing Defense Boost</th>
											<th class="table-head">User Over Under Boost</th>
											<th class="table-head">User Twitter Boost</th>
											<th class="table-head">ESPN Projection</th>
											<th class="table-head">CBS Projection</th>
											<th class="table-head">Sharks Projection</th>
											<th class="table-head">Scout Projection</th>
											<th class="table-head">Previous Week</th>
										</tr>
									</thead>
									<tbody>
										{% for player_dict in tableData%} 
											<tr>
												<td>{{player_dict.PLAYER}}</td>
												<td>{{player_dict.POS}}</td>
												<td>{{player_dict.TEAM}}</td>
												<td>{{player_dict.FPTS_PPR_CUSTOM_AVG_BOOST}}</td>
												<td> </td>
												<td>{{player_dict.FPTS_PPR_CUSTOM_AVG}}</td>
												<td>{{player_dict.OPPOSING_DEFENSE_BOOST}}</td>
												<td>{{player_dict.OVER_UNDER_BOOST}}</td>
												<td>{{player_dict.TWITTER_BOOST}}</td>
												<td>{{player_dict.FPTS_PPR_ESPN}}</td>
												<td>{{player_dict.FPTS_PPR_CBS}}</td>
												<td>{{player_dict.FPTS_PPR_SHARKS}}</td>
												<td>{{player_dict.FPTS_PPR_SCOUT}}</td>
												<td>{{player_dict.FPTS_PPR_PRVS_WK_ACTUAL}}</td>											
											</tr>
										{% endfor %}
									</tbody>
								</table>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end of col-md-8 div for output area-->

		</div>
		<!--end of main bootstrap row-->

	</div>
	<!--end of bootstrap container-->



	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
	<!--===============================================================================================-->
	<!-- <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script> -->
	
	<!-- from MDB for table scrolling -->
	<!-- JQuery
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/js/mdb.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.js') }}"></script>
	<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
	<script>
		$(".selection-2").select2({
			// minimumResultsForSearch: 20,
			// dropdownParent: $('#dropDownSelect1')
		});
	</script>
	<!-- =============================================================================================== -->
	<!-- <script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script> -->
	<!-- ===============================================================================================-->
	<!-- <script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script> -->
	<!-- =============================================================================================== -->
	<script src="{{ url_for('static', filename='js/input_main.js') }}"></script>

	<script src="{{ url_for('static', filename='js/input.js') }}"></script>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-23581568-13');
	</script>


</body>

</html>